#menu-outer {
	height: 150px;
	background-image: url(photos/MenuBanner.jpg);
	

}

.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
	

}

ul#horizontal-list {
	text-align: right;
	min-width: 696px;
	list-style: none;
	padding-top: 60px;
	display: flex;
	justify-content: space-between;
	}
	ul#horizontal-list li {
		display: inline;
	}
a {
		color: red;
		text-decoration: none;
}
	
	
h2{
	text-align: center;
	padding-top: 10px;
}

.About-Me{
	color: red;
	text-decoration: bold;
	display:inline-block;
	justify-content: space-between;
	padding-left: 5px;
	
}
img {
  border: 3px solid black;
}
.background-info {
	color: red;
	font-size: 20px;
	margin: 0 auto;
	display: table;
	text-align: center;
}

.gallery{

	float: left;
	padding-left: 20px;
}
